fastapi
uvicorn[standard]
requests
httpx[http2]==0.27.2
beautifulsoup4
lxml
duckduckgo_search==5.3.1
pydantic
pydantic-settings
Pillow
torch
torchvision
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
